// 1. Abstracts (Değişkenler ve Fonksiyonlar - Çıktı üretmez)
@import 'abstracts/variables';
@import 'abstracts/mixins';

// 2. Base (Temel Ayarlar)
@import 'base/reset';
@import 'base/typography';

// 3. Components (Parçalar)
@import 'components/buttons';
@import 'components/forms';

// 4. Pages (Sayfaya Özel)
@import 'pages/login'; // Hangi sayfayı yapıyorsan onu ekle